* { box-sizing: inherit; }
html,body { box-sizing: border-box; }

$col1: rgb(159, 176, 198);

body {
  background-color: $col1;
  font: 15px/1.5 "Open Sans",Helvetica;
}

.container {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

nav[role="main"] {
  background-color: rgba(0, 0, 0, 0.1);
  line-height: 2;

  .container {
    @extend %remove-inner-margins;
  }

  ul {
    margin: 0;
    list-style: none;
    padding-left: 0;
  }

  li { display: inline; }
  li:not(:first-child) { margin-left: 1em; }
  a { color: rgba(255, 255, 255, 0.9); }
}

section {
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 5px;
  margin: 2em 0;

  >* {
    @extend %remove-inner-margins;
    padding: 1em;

    &:not(:first-child) {
      border-top: 1px solid $col1;
    }
  }
}
