* { box-sizing: inherit; }
html,body { box-sizing: border-box; }

$col1: rgb(159, 176, 198);
$col2: rgb(240, 189, 36);

body {
  background-color: $col1;
  font: 15px/1.5 "Open Sans",Helvetica;
}

.container {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
}

a { color: $col2; }
h3 { color: $col1; }

section {
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 5px;
  margin: 2em 0;

  >* {
    @extend %remove-inner-margins;
    padding: 1em;

    &:not(:first-child) {
      border-top: 1px solid $col1;
    }
  }
}
