
label {
  display: block;
  font-weight: bold;
}

.input {
  margin-bottom: 1em;
}

input[type="text"], input[type="email"], input[type="password"], textarea {
  font: inherit;
  color: inherit;
  outline: none;
  border: none;
  width: 100%;
  background: transparent;

  &::placeholder {
    color: #ddd;
  }
}

button, input[type="submit"] {
  outline: none;
  border: none;
  font: inherit;
  background-color: $col2;
  padding: 0.5em 1em;
  cursor: pointer;

  &:disabled {
    background-color: #ddd;
    cursor: default;
  }
}

.error {
  color: red;
}
